<header class="text-white d-flex align-items-center justify-content-between">
    <div class="title d-flex align-items-center">
        <div class="logo">
        </div>
        <div>
            <h1 class="header-title fw-bold m-0">
                交通轉乘資訊</h1>
            <p class="header-subtitle m-0">Transportation Transfer Information</p>
        </div>
    </div>
    <div class="time">
        <span class="time-content">09:36</span><span class="time-zone">am</span>
        <div class="time-date">星期一,01月15日</div>
    </div>

</header>