.footer{
  background-color: rgb(47, 136, 215);
  height: 4vh;   //168/3840
}
.footer-logo{
  background-image:url(/assets/images/meicity_logo.svg);
  background-position:center center;
  background-repeat: no-repeat;
  background-size: contain;
 
  width: 11vw;  //240/2160
  height:10vh;
}
