header {
  background-image: url(/assets/images/escalator_head.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 3em;

  .logo {
    background-image: url(/assets/images/mode_of_travel.svg);
    width: 12vw; //252px
    height: 12vw; //256px
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {

    font-size: 5vw; //120px
    letter-spacing: 1vw;
  }

  .header-subtitle {
    font-size: 3vw; //56px
  }

  .time {
    position: relative;
    top: -1.5em; //往上移一些
  }

  .time-content {
    font-size:3vw;   //80px
  }

  .time-zone {
    font-size: 2vw;  //60px
  }

  .time-date {
    font-size: 3vw;   //48px
  }
}