header {
  background-image: url(/assets/images/escalator_head.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 3em;

  .logo {
    background-image: url(/assets/images/mode_of_travel.svg);
    width: 15.8em;
    height:16em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    
    font-size: 5vw; //120px
    letter-spacing: 16px;


  }
  .header-subtitle{
    font-size: 3.5em;
  }

  .time {
    position: relative;
    top: -1.5em; //往上移一些
  }

  .time-content {
    font-size: 5em;
  }
  .time-zone{
    font-size: 3.75em;
  }

  .time-date {
    font-size: 3em;
  }
}