.scene {
  background-image: url(/assets/images/escalator_ad1.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
  height: 40vh; //調整
}

//bus-title
.bus-title {
  .IntercityBus {
    width: 20vw;  //20%
    background-color: rgb(255, 109, 48);

  }

  .Destination {
    width: 40vw; //40%
    background-color: rgb(224, 240, 255);
    }


.Gate {
  width: 20vw; //20%
  background-color: rgb(224, 240, 255);
}

.Dep {
  width: 20vw;  //20%
  background-color: rgb(224, 240, 255);
  
}

.chinese-title {
  font-size: 4vw;  //80px

}

.english-title {
  font-size: 2vw; //36px

}
}

//bus-content
.bus-content {
  background-color: rgb(249, 249, 249);
  padding: 24px;

  .IntercityBus {
    width: 20%;

    border-right: 1px solid rgb(116, 116, 116);
  }

  .number {
    font-size: 4vw; //96px
  }

  .Destination {

    width: 40%;
  }

  .Gate {
    width: 20%;
  }

  .Dep {
    width: 20%;
  }

  .chinese-title {
    font-size: 4vw; //80px

  }

  .english-title {
    font-size: 2vw;    //36px

  }
}



//speaker
.speaker {
  background-color: rgb(84, 88, 90);
  height: 168px;

  .speaker-content {
    font-size: 3em;
  }
}