.scene {
  background-image: url(/assets/images/escalator_ad1.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 42vh; //調整
}

//bus-title
.bus-title {

  .fa-bus {
    font-size: 3vw;
  }

  .IntercityBus {
    width: 20%; //20%
    background-color: rgb(255, 109, 48);
    padding: 1vw; //24px
  }

  .Destination {
    width: 40%; //40%
    background-color: rgb(224, 240, 255);
    padding: 1vw; //24px
  }


  .Gate {
    width: 20%; //20%
    background-color: rgb(224, 240, 255);
    padding: 1vw; //24px
  }

  .Dep {
    width: 20%; //20%
    background-color: rgb(224, 240, 255);
    padding: 1vw; //24px

  }

  .chinese-title {
    font-size: 3vw; //80px/2160px 

  }

  .english-title {
    font-size: 2vw; //36px

  }
}

//bus-content
.bus-content {
  background-color: rgb(249, 249, 249);
  padding: 24px; //1vw

  .IntercityBus {
    width: 20%;
    border-right: 1px solid rgb(116, 116, 116);
  }

  .number {
    font-size: 4vw; //96px

    .chinese-title {
      font-size: 3vw; //80px/2160px

    }
  }

  .Destination {
    width: 40%;

    .chinese-title {
      font-size: 3vw; //80px/2160px

    }
  }

  .Gate {
    width: 20%;

    .chinese-title {
      font-size: 5vw;

    }
  }

  .Dep {
    width: 20%;

    .chinese-title {
      font-size: 5vw;

    }
  }

  .english-title {
    font-size: 2vw; //36px
  }
}



//speaker
.speaker {
  background-color: rgb(84, 88, 90);
  height: 4vh; //168px/3840px


  .speaker-content {
    font-size: 2vw; //48px
    padding-left: 2vw;
    line-height: 1;
  }

  .speaker-content-wrap {
    position: relative; //重要
    overflow: hidden; //重要
    width: 100%;

    
  }


}

//canvas
canvas {
  display: block;
  
 
}

#marqueeContainer {
 
  // outline:1px solid red;
  height: fit-content;
}